body {
    background-color: #1b1b32;
    color: white;
}

h1 {
    align-content: center;
}

/*.div-principal {
    width: 500px;
    margin-left:auto;
    margin-right: auto;
    max-width: 500px;
    box-sizing: border-box;
}

#bottonSubmit {
    background-color: #2f2f5a;
    color: white;
}*/