body {
    background-color: #1b1b32;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 16px;
}
.label-seccion, .input-seccion {
    width: 100%;
    display: block;
    margin: 0.5rem 0;
    min-height: 2em;
}

h1,
p {
    margin: 1em auto;
    text-align: center;
}

p,label{
    font-size: 15px;
}

form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: auto auto;
    padding-bottom: 2em;
}
/*.div-principal {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    box-sizing: border-box;
}*/

.seccion-datos{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.input-seccion{
    background-color: #0a0a23;
    border: 1px;
    border-style: solid;
    border-color: black;
    color: white;
    height: 1.1rem;
}

#cargar-documento{
    width: 45%;
}
#bottonSubmit {
    background-color: #3b3b4f;
    color: white;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    display: block;
    border: 2px;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
}

a{
    color: white;
}

a:hover{
    color: aqua;
}

hr{
    border: 10vm;
    border-style: solid;
    border-color:  #7d7d80;
}

input[type="file"]{
    padding: 1px 2px;
}

select[id="dropdownSelect"]{
    border: 50px;
}

