body {
    background-color: #1b1b32;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
}

h1,
p {
    text-align: center;
}

p,label{
    font-size: 15px;
}
.div-principal {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    box-sizing: border-box;
}

.seccion-datos{
    margin-top: 40px;
    margin-bottom: 40px;
}

.label-seccion, .input-seccion {
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-seccion{
    background-color: #0a0a23;
    border: 1px;
    border-style: solid;
    border-color: black;
    color: white;
    height: 1.1rem;
}

#cargar-documento{
    width: 45%;
}
#bottonSubmit {
    background-color: #3b3b4f;
    color: white;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    display: block;
    border: 2px;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
}

a{
    color: white;
}

a:hover{
    color: aqua;
}

hr{
    border: 10vm;
    border-style: solid;
    border-color:  #7d7d80;
}